.box-container {
    height: auto;
    min-height: 863px;
    position: relative;
    width: 100%;
    padding: 20px 0;
    margin-left: calc(3%);
    overflow: hidden;
}
  
.box-container .box-content-sections {
    height: auto;
    position: relative;
    width: 100%;
}
  
.box-container .box-header-container {
    height: auto;
    position: relative;
    width: 100%;
    max-width: 425px;
    margin: 0;
    transform: none;
    left: 0;
}
  
.box-container .box-header-overlap {
    height: 57px;
    position: relative;
    width: 423px;
}
  
.box-container .box-header-background {
    background-color: #ffffff;
    width: 80%;
    left: 10%;
    height: 4vw;
    max-height: 57px;
    position: relative;
    top: 0;
}
  
.box-container .box-header-underline {
    background-color: #ffffff;
    height: 9px;
    left: 15%;
    position: relative;
    top: -15%;
    width: 90%;
}
  
.box-container .box-header-title {
    color: #181818;
    font: 400 28px 'Nippo-Regular', sans-serif;
    font-size: clamp(20px, 2vw, 28px);
    font-weight: 400;
    left: 0;
    letter-spacing: 0.84px;
    line-height: normal;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
}
  
.box-container .human-container {
    height: auto;
    position: relative;
    top: 0;
    width: 40%;
    max-width: 438px;
    margin-top: 161px;
}
  
.box-container .human-image-wrapper {
    height: auto;
    left: 0;
    position: relative;
    width: 100%;
}
  
.box-container .main-human-image {
    height: auto;
    width: auto;
    left: 0;
    position: absolute;
    top: 50px;
    max-width: 438px;
    background-color: transparent;
}
  
.box-container .human-graphics-container {
    height: 687px;
    left: 62px;
    position: absolute;
    top: 0;
    width: 254px;
}
  
.box-container .human-graphics-overlap {
    height: 687px;
    position: relative;
}
  
.box-container .human-vector {
    height: auto;
    width: 100%;
    left: 5px;
    max-width: 200px;
    position: absolute;
    top: 26px;
}
  
.box-container .content-items-container {
    position: absolute;
    left: 40%;
    right: 20px;
    margin-left: 10%;
    margin-top: 0px;
    width: auto;
}
  
.box-container .content-item {
    width: 100%;
    max-width: 416px;
    position: relative;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: 1;
}
  
.box-container .content-item:nth-child(even) {
    left: 20%;
}
  
.box-container .content-item.expanded {
    margin-bottom: 20px;
    z-index: 2;
}
  
.box-container .item-overlap {
    position: relative;
    width: 90%;
    max-width: 416px;
    right: 0;
    margin: 2rem 0;
    height: 50px;
}
  
.box-container .item-title {
    color: #ffffff;
    font-family: "Nippo-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0.72px;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 317px;
}
  
.box-container .item-icon-wrapper {
    background-color: #ffffff;
    border-radius: 8px;
    height: 16px;
    left: 288px;
    position: absolute;
    top: 13px;
    transform: rotate(180.00deg);
    width: 16px;
}
  
.box-container .item-icon {
    width: 100%;
    height: auto;
    max-width: 7px;
    left: 5px;
    position: absolute;
    top: 6px;
    transform: rotate(-180.00deg);
}
  
.box-container .item-content {
    color: #ffffff;
    padding-top: calc(15%);
    font: 400 14px 'ClashGrotesk-Light', 'san-serif';
    line-height: 1.5;
    margin-top: 0px;
}
  
.box-container .expanded .item-overlap {
    height: auto;
    padding-bottom: 20px;
}
  
.box-container .expanded .item-icon-wrapper {
    transform: rotate(0deg);
}
  
.box-container img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
  
@media (max-width: 768px) {
    .box-container .box-header-container {
        width: 100%;
    }
    
    .box-container .header-title {
        font-size: 1.5rem;
    }
    
    .box-container .human-container {
        width: 100%;
        max-width: none;
        margin-top: 40px;
    }
    
    .box-container .content-items-container {
        position: relative;
        left: 0;
        right: 0;
        margin-top: 40px;
        padding: 0 20px;
    }
    
    .box-container .content-item:nth-child(even) {
        left: 0;
    }
    
    .box-container .main-human-image {
        top: 0;
    }
    
    .box-container .human-vector {
        width: 100%;
        left: 0;
    }
}
  