.box {
    height: 1194px;
    width: 743px;
  }
  
  .box .group {
    height: 1194px;
    left: 0;
    position: fixed;
    top: 0;
    width: 743px;
  }
  
  .box .overlap {
    height: 1194px;
    position: relative;
  }
  
  .box .overlap-group {
    height: 1175px;
    left: 0;
    position: absolute;
    top: 0;
    width: 743px;
  }
  
  .box .group-wrapper {
    height: 43px;
    left: 0;
    position: absolute;
    top: 0;
    width: 743px;
  }
  
  .box .overlap-group-wrapper {
    height: 43px;
    width: 745px;
  }
  
  .box .div {
    height: 43px;
    position: relative;
    width: 743px;
  }
  
  .box .rectangle {
    background-color: #000000;
    height: 43px;
    left: 0;
    position: absolute;
    top: 0;
    width: 173px;
  }
  
  .box .rectangle-2 {
    background-color: #000000;
    height: 9px;
    left: 155px;
    position: absolute;
    top: 34px;
    width: 91px;
  }
  
  .box .text-wrapper {
    color: #ffffff;
    font-family: "Nippo-Regular", Helvetica;
    font-size: 28px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0.84px;
    line-height: normal;
    position: absolute;
    top: 3px;
    width: 743px;
  }
  
  .box .vector {
    height: 430px;
    left: 2px;
    position: absolute;
    top: 46px;
    width: 36px;
  }
  
  .box .img {
    height: 430px;
    left: 18px;
    position: absolute;
    top: 46px;
    width: 36px;
  }
  
  .box .vector-2 {
    height: 430px;
    left: 104px;
    position: absolute;
    top: 706px;
    width: 36px;
  }
  
  .box .vector-3 {
    height: 430px;
    left: 86px;
    position: absolute;
    top: 720px;
    width: 36px;
  }
  
  .box .vector-4 {
    height: 430px;
    left: 64px;
    position: absolute;
    top: 744px;
    width: 36px;
  }
  
  .box .vector-5 {
    height: 936px;
    left: 61px;
    position: absolute;
    top: 42px;
    width: 61px;
  }
  
  .box .vector-6 {
    height: 933px;
    left: 44px;
    position: absolute;
    top: 36px;
    width: 61px;
  }
  
  .box .vector-7 {
    height: 933px;
    left: 26px;
    position: absolute;
    top: 22px;
    width: 61px;
  }
  
  .box .vector-8 {
    height: 933px;
    left: 8px;
    position: absolute;
    top: 6px;
    width: 61px;
  }
  
  .box .group-2 {
    height: 156px;
    left: 165px;
    position: absolute;
    top: 90px;
    width: 451px;
  }
  
  .box .p {
    color: #ffffff;
    font-family: "Clash Grotesk-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 1px;
    letter-spacing: 0.32px;
    line-height: 32.8px;
    mix-blend-mode: difference;
    position: absolute;
    top: 53px;
    width: 446px;
  }
  
  .box .text-wrapper-2 {
    color: #000000;
    font-family: "Nippo-Regular", Helvetica;
    font-size: 28px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0.84px;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .box .group-3 {
    height: 156px;
    left: 165px;
    position: absolute;
    top: 564px;
    width: 451px;
  }
  
  .box .group-4 {
    height: 156px;
    left: 165px;
    position: absolute;
    top: 1038px;
    width: 451px;
  }
  
  .box .group-5 {
    height: 156px;
    left: 165px;
    position: absolute;
    top: 327px;
    width: 451px;
  }
  
  .box .group-6 {
    height: 156px;
    left: 165px;
    position: absolute;
    top: 801px;
    width: 493px;
  }
  