.plant-habitat-container {
    width: 100%;
    height: auto;
    position: relative;
}

.plant-habitat-container .habitat-main-group {
    height: auto;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}

.plant-habitat-container .habitat-overlap {
    height: 1194px;
    position: relative;
}

.plant-habitat-container .habitat-overlap-group {
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
}

.plant-habitat-container .header-wrapper {
    height: 43px;
    left: 0;
    position: absolute;
    top: 0;
    width: 743px;
}

.plant-habitat-container .header-overlap-wrapper {
    height: 43px;
    width: 745px;
}

.plant-habitat-container .header-content {
    height: 43px;
    position: relative;
    width: 25em;
}

.plant-habitat-container .header-background {
    background-color: #000000;
    height: 43px;
    left: 0;
    position: absolute;
    top: 0;
    width: 35em;
}

.plant-habitat-container .header-underline {
    background-color: #000000;
    height: 9px;
    left: 30em;
    position: absolute;
    top: 34px;
    width: 54%;
}

.plant-habitat-container .habitat-title {
    color: #ffffff;
    font-family: "Nippo-Light", Helvetica;
    font-size: 28px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0.84px;
    line-height: normal;
    position: absolute;
    top: 3px;
    width: 743px;
}

.plant-habitat-container .decorative-line-1 {
    height: 430px;
    left: 2px;
    position: absolute;
    top: 46px;
    width: 36px;
}

.plant-habitat-container .section-content {
    color: #ffffff;
    font-family: "ClashGrotesk-Light", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 1px;
    letter-spacing: 0;
    line-height: 205%;
    mix-blend-mode: difference;
    position: absolute;
    top: 53px;
    width: 446px;
}

.plant-habitat-container .section-title {
    color: #000000;
    font-family: "Nippo-Regular", Helvetica;
    font-size: 28px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0.84px;
    line-height: normal;
    position: absolute;
    top: 0;
}

.plant-habitat-container .habitat-section-1 {
    height: auto;
    left: 22%;
    position: absolute;
    top: 8%;
    width: 61%;
}

.plant-habitat-container .habitat-section-2 {
    height: auto;
    left: 22%;
    position: absolute;
    top: 47%;
    width: 61%;
}

.plant-habitat-container .habitat-section-3 {
    height: auto;
    left: 22%;
    position: absolute;
    top: 87%;
    width: 61%;
}

.plant-habitat-container .habitat-section-4 {
    height: auto;
    left: 22%;
    position: absolute;
    top: 27%;
    width: 61%;
}

.plant-habitat-container .habitat-section-5 {
    height: auto;
    left: 22%;
    position: absolute;
    top: 67%;
    width: 61%;
}

.plant-habitat-container .vector-2 {
    height: 430px;
    left: 104px;
    position: absolute;
    top: 706px;
    width: 36px;
}

.plant-habitat-container .vector-3 {
    height: 430px;
    left: 86px;
    position: absolute;
    top: 720px;
    width: 36px;
}

.plant-habitat-container .vector-4 {
    height: 430px;
    left: 64px;
    position: absolute;
    top: 744px;
    width: 36px;
}

.plant-habitat-container .vector-5 {
    height: 936px;
    left: 61px;
    position: absolute;
    top: 42px;
    width: 61px;
}

.plant-habitat-container .vector-6 {
    height: 933px;
    left: 44px;
    position: absolute;
    top: 36px;
    width: 61px;
}

.plant-habitat-container .vector-7 {
    height: 933px;
    left: 26px;
    position: absolute;
    top: 22px;
    width: 61px;
}

.plant-habitat-container .vector-8 {
    height: 933px;
    left: 8px;
    position: absolute;
    top: 6px;
    width: 61px;
}

.plant-habitat-container .group-2 {
    height: auto;
    left: 22%;
    position: absolute;
    top: 8%;
    width: 61%;
}

.plant-habitat-container .p {
    color: #ffffff;
    font-family: "ClashGrotesk-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 1px;
    letter-spacing: 0.32px;
    line-height: 32.8px;
    mix-blend-mode: difference;
    position: absolute;
    top: 53px;
    width: 446px;
}

.plant-habitat-container .text-wrapper-2 {
    color: #000000;
    font-family: "Nippo-Regular", Helvetica;
    font-size: 28px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0.84px;
    line-height: normal;
    position: absolute;
    top: 0;
}

.plant-habitat-container .group-3 {
    height: auto;
    left: 22%;
    position: absolute;
    top: 47%;
    width: 61%;
}

.plant-habitat-container .group-4 {
    height: auto;
    left: 22%;
    position: absolute;
    top: 87%;
    width: 61%;
}

.plant-habitat-container .group-5 {
    height: auto;
    left: 22%;
    position: absolute;
    top: 27%;
    width: 61%;
}

.plant-habitat-container .group-6 {
    height: auto;
    left: 22%;
    position: absolute;
    top: 67%;
    width: 61%;
}