.container {
    background: #000;
    padding: 95px 69px;
    overflow: hidden;
    position: relative;
  }
  
  .contentWrapper {
    display: flex;
    gap: 20px;
  }
  
  .mainContent {
    display: flex;
    flex-direction: column;
    width: 73%;
  }
  
  .pollutantInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 6px;
    width: 100%;
    padding-right: 15px;
    overflow: visible;
  }
  
  .headerWrapper {
    display: flex;
    gap: 22px;
    color: #fff;
    letter-spacing: 1.2px;
    font: 400 48px 'Nippo-Regular', sans-serif;
  }
  
  .circle {
    border-radius: 50%;
    width: 78px;
    height: 78px;
    border: 1px solid #fff;
  }
  
  .pollutantName {
    margin: auto 0;
    flex-grow: 1;
  }
  
  .description {
    color: #fff;
    margin-top: 24px;
    font: 300 15px/23px 'Nippo-Light', sans-serif;
    padding-left: 15px;
  }
  
  .descriptionTitle {
    font-size: 15px;
    margin-bottom: 8px;
  }
  
  .descriptionLine {
    position: relative;
    padding-left: 12px;
    margin: 4px 0;
  }
  
  .descriptionLine::before {
    content: "•";
    position: absolute;
    left: 0;
  }
  
  .descriptionKnowMore {
    width: 100%;
    justify-content: flex-start;
  }
  
  .knowMoreButton {
    background: #d9d9d9;
    color: #000;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin: 10px 0 20px auto;
    padding: 4px 10px;
    font: 378 10px 'Nippo-Medium', sans-serif;
    border: 1px solid #fff;
    cursor: pointer;
    width: fit-content;
  }

  .knowMoreButtonLeft {
    background: #d9d9d9;
    color: #000;
    text-align: left;
    margin: 10px 0 20px 0;
  }
  
  .imageContainer {
    background: #fff;
    border-radius: 50%;
    display: flex;
    width: 16%; /* 320px / 1440px */
    aspect-ratio: 1;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 43%; /* 711px / 1440px */
    top: 55%; /* 355px / 768px */
    z-index: 20;
    transform: translateZ(20px);
  }
  
  .pollutantImage {
    padding-right: 0;
    aspect-ratio: 1.1;
    object-fit: contain;
    width: 100%;
  }
  
  .sideContent {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 20px;
    color: #fff;
    text-align: right;
    font: 400 15px 'Nippo-Regular', sans-serif;
  }
  
  .sideContentWrapper {
    display: flex;
    padding-left: 39px;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .sectionTitle {
    font-size: 24px;
  }
  
  .titleList {
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
  }
  
  .titleEntry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 4px;
  }
  
  .bulletcircle {
    width: 18px;
    height: 18px;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
  }
  
  .titleText {
    flex-grow: 1;
    font: 300 15px 'Nippo-Light', sans-serif;
  }
  
  .titleEntry .circle {
    margin-left: auto;
  }
  
  
  .sourcesTitle {
    font-size: 24px;
    margin: 24px 10px 0 19px;
  }
  
  .sourcesDescription {
    font-family: 'Nippo-Light', sans-serif;
    font-weight: 300;
    line-height: 23px;
    margin-top: 6px;
    font-size: 15px;
  }
  
  @media (max-width: 991px) {
    .container {
      padding: 100px 20px 0;
    }
  
    .contentWrapper {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .mainContent {
      width: 100%;
    }
  
    .pollutantInfo {
      max-width: 100%;
      margin-top: 40px;
    }

    .sideContent {
      width: 100%;
      margin-top: 40px;
    }
  
    .sideContentWrapper {
      padding-left: 20px;
    }
  
    .titleList {
      margin-right: 10px;
    }
  
    .sourcesTitle {
      margin: 40px 0 0 10px;
    }
  
    .sourcesDescription {
      margin-right: 10px;
    }

    .imageContainer {
      width: 50%;
      left: 50%;
      top: auto;
      bottom: -25%;
      transform: translateX(-50%);
    }
  }