@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    background: #000;
    padding: 5%;
    overflow: hidden;
    position: relative;
  }
  
  .contentWrapper {
    display: flex;
    gap: 20px;
  }
  
  .mainContent {
    display: flex;
    flex-direction: column;
    width: 66%;
    height: fit-content;
    align-items: flex-end;

  }
  
  .pollutantInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 6px;
    width: 100%;
    height: 100%;
    padding-right: 15px;
    overflow: visible;
    position: relative;
  }
  
  .circle {
    width: 71px;
    height: 71px;
    border: 1px solid #fff;
  }
  
  .pollutantName {
    width: 528px;
    color: #FFF;
    font-family: 'Nippo-Light';
    font-size: 32px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 3%;
    margin-top: 2%;
  }
  
  .description {
    color: #fff;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: 'Chivo Mono';
    font-weight: 400;
    font-size: 10px;
    width: 40%;
    line-height: 165%;
    letter-spacing: 0;
    padding-left: 15px;
  }
  
  .descriptionTitle {
    font-size: 15px;
    margin-bottom: 8px;
  }
  
  .descriptionLine {
    position: relative;
    padding-left: 3%;
    margin: 2% 0;
  }
  
  .descriptionLine::before {
    content: "•";
    position: absolute;
    left: 0;
  }
  
  .descriptionKnowMore {
    width: 100%;
    justify-content: flex-start;
  }
  
  .knowMoreButton {
    background-color: #000 !important;
    color: #fff !important;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin: 10px 0 20px auto;
    padding: 4px 10px;
    font: 378 10px 'Nippo-Light', sans-serif !important;
    border: 1px solid #fff;
    cursor: pointer;
    width: fit-content;
  }

  .knowMoreButtonLeft {
    background: #d9d9d9;
    color: #000;
    text-align: left;
    margin: 10px 0 20px 0;
  }

  .knowMoreButtonInverted {
    background-color: #d9d9d9 !important;
    color: #000 !important;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    padding: 4px 10px;
    font: 378 10px 'Nippo-Light', sans-serif;
    border: 1px solid black;
    cursor: pointer;
    margin: 10px 0;
    align-self: flex-start;
  }

  .knowMoreButtonInverted:focus {
    outline: 2px solid #000;
    outline-offset: 2px;
  }
  
  .knowMoreButtonInvertedRA {
    background-color: #d9d9d9 !important;
    color: #000 !important;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    padding: 6px 12px;
    font: 378 12px 'Nippo-Light', sans-serif;
    border: 1px solid black;
    cursor: pointer;
    margin: 10px 0;
    align-self: flex-end;
  }

  .knowMoreButtonInvertedRA:focus {
    outline: 2px solid #000;
    outline-offset: 2px;
  }

  .imageContainer {
    background: #fff;
    border-radius: 50%;
    aspect-ratio: 1;
    border: 1px solid #fff;
    width: 320px;
    height: 320px;
    object-fit: contain;
    z-index: 20;
    position: absolute;
    top: 18.3em; /* Moved upwards by adjusting the top position */
    left: 550px; /* Moved to the right by adjusting the left position */
  }
  .pollutantImage {
    padding-right: 0;
    aspect-ratio: 1.1;
    object-fit: contain;
    width: 100%;
  }
  .circle-container{
    position: absolute;
    top: 0px;
    left: 0px;
    
  }
  
  .circle{
    border-radius: 50%;
    aspect-ratio: 1;
    /* border: 1px solid #fff; */
    align-self: flex-end;
    width: 40px;
    height: 40px;
    object-fit: contain;
    z-index: 20;
  }

  .circle1{
    position: absolute;
    top: 250px;
    left: 200px;
    background: #fff;
  }
  .circle2{
    position: absolute;
    top: 250px;
    left: 310px;
    background: #000000;
  }
  .circle3{
    position: absolute;
    top: 250px;
    left: 420px;
    background: #000000;
  }

  .circle4{
    position: absolute;
    top: 370px;
    left: 310px;
    background: #ffffff;
  }
 
  .line{
    width: 200px;
    height: 1px;
    background-color: white;
  }

  .line1{
    width: 130px!important;
    position: absolute;
    top: 260px;
    left: 210px;
  }
  .line4{
    position: absolute;
    top: 280px;
    left: 210px;
  }

  .line2{
    width: 130px!important;
    position: absolute;
    top: 270px;
    left: 320px;
    background-color: #000;
    z-index: 40;
  }
  .line3{
    width: 130px!important;
    position: absolute;
    top: 330px;
    left: 265px;
    transform: rotate(90deg);
  }