.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom Cursor */
.custom-cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0), 0 0 0 1px #333;
  transition: border-color 0.2s, box-shadow 0.2s;
  /* Offset to avoid direct overlap with system cursor */
  margin-left: 2px;
  margin-top: 2px;
}

.custom-cursor::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background-color: #333;
  border-radius: 50%;
  z-index: 1;
  transition: background-color 0.2s;
}

.custom-cursor-inverted {
  border-color: #ccc;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0), 0 0 0 1px #ccc;
}

.custom-cursor-inverted::after {
  background-color: #ccc;
}