.box {
    height: auto;
    min-height: 863px;
    position: relative;
    width: 40%;
    padding: 20px 0;
    margin-left: 0px;
}
  
.box .group {
    height: auto;
    position: relative;
    width: 100%;
}
  
.box .overlap-group-wrapper {
    height: auto;
    position: relative;
    width: 100%;
    max-width: 425px;
    margin: 0;
    transform: none;
    left: 0;
}
  
.box .overlap-group {
    height: 57px;
    position: relative;
    width: 423px;
}
  
.box .rectangle {
    background-color: #ffffff;
    width: 80%;
    left: 10%;
    height: 4vw;
    max-height: 57px;
    position: absolute;
    top: 0;
}
  
.box .div {
    background-color: #ffffff;
    height: 9px;
    left: 72px;
    position: absolute;
    top: 48px;
    width: 351px;
}
  
.box .text-wrapper {
    color: #181818;
    font: 400 28px 'Nippo-Regular', sans-serif;
    font-size: clamp(20px, 2vw, 28px);
    font-weight: 400;
    left: 0;
    letter-spacing: 0.84px;
    line-height: normal;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
}
  
.box .overlap-wrapper {
    height: 687px;
    left: 0;
    position: absolute;
    top: 161px;
    width: fit-content;
}
  
.box .overlap {
    height: 687px;
    left: -69px;
    position: relative;
    width: 438px;
}
  
.box .img {
    height: auto;
    width: 100%;
    left: 0;
    position: absolute;
    top: 50px;
    max-width: 438px;
    background-color: transparent;
}
  
.box .div-wrapper {
    height: 687px;
    left: 62px;
    position: absolute;
    top: 0;
    width: 254px;
}
  
.box .overlap-group-2 {
    height: 687px;
    position: relative;
}
  
.box .vector {
    height: auto;
    width: 100%;
    left: 0;
    max-width: 200px;
    position: absolute;
    top: 26px;
}
  
.box .human {
    height: auto;
    width: 100%;
    max-width: 254px;
    left: 0;
    position: absolute;
    top: 0;
}
  
.box .overlap-2 {
    position: relative;
    width: 90%;
    max-width: 416px;
    right: 0;
    margin: 2rem 0;
    height: 187px;
}
  
.box .image {
    width: 6vw;
    height: 6vw;
    max-width: 26px;
    max-height: 26px;
    left: 390px;
    object-fit: cover;
    position: absolute;
    top: 3px;
}
  
.box .group-2 {
    height: 38px;
    left: 73px;
    position: absolute;
    top: 70px;
    width: 319px;
}
  
.box .overlap-3 {
    height: 38px;
    position: relative;
    width: 317px;
}
  
.box .text-wrapper-2 {
    color: #ffffff;
    font-family: "Nippo-Regular", Helvetica;
    font-size: 28px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0.84px;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 317px;
}
  
.box .vector-wrapper {
    background-color: #ffffff;
    border-radius: 8px;
    height: 16px;
    left: 288px;
    position: absolute;
    top: 13px;
    transform: rotate(-180.00deg);
    width: 16px;
}
  
.box .vector-2 {
    width: 100%;
    height: auto;
    max-width: 7px;
    left: 5px;
    position: absolute;
    top: 6px;
    transform: rotate(180.00deg);
}
  
.box .group-3 {
    height: 187px;
    left: 0;
    position: absolute;
    top: 0;
    width: 398px;
}
  
.box .overlap-4 {
    background-color: #040404;
    height: 187px;
    position: relative;
    width: 396px;
}
  
.box .p {
    color: #ffffff;
    font-family: "Clash Grotesk-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 28.7px;
    position: absolute;
    top: 1px;
    width: 363px;
}
  
.box .overlap-5 {
    height: 44px;
    left: 992px;
    position: absolute;
    top: 117px;
    width: 319px;
}
  
.box .group-4 {
    height: 32px;
    left: 0;
    position: absolute;
    top: 0;
    width: 319px;
}
  
.box .overlap-6 {
    height: 32px;
    position: relative;
    width: 317px;
}
  
.box .text-wrapper-3 {
    color: #ffffff;
    font-family: "Nippo-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0.72px;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 317px;
}
  
.box .image-traced {
    height: auto;
    width: 4vw;
    max-width: 14px;
    left: auto;
    right: 10%;
    position: absolute;
    top: 25px;
}
  
.box .group-5 {
    height: 32px;
    left: 492px;
    position: absolute;
    top: 150px;
    width: 319px;
}
  
.box .img-wrapper {
    background-color: #ffffff;
    border-radius: 8px;
    height: 16px;
    left: 288px;
    position: absolute;
    top: 13px;
    transform: rotate(180.00deg);
    width: 16px;
}
  
.box .vector-3 {
    width: 100%;
    height: auto;
    max-width: 7px;
    left: 5px;
    position: absolute;
    top: 6px;
    transform: rotate(-180.00deg);
}
  
.box .group-6 {
    height: 32px;
    left: 571px;
    position: absolute;
    top: 250px;
    width: 319px;
}
  
.box .group-7 {
    height: 32px;
    left: 492px;
    position: absolute;
    top: 350px;
    width: 319px;
}
  
.box .group-8 {
    height: 32px;
    left: 571px;
    position: absolute;
    top: 450px;
    width: 319px;
}
  
.box .group-9 {
    height: 32px;
    left: 492px;
    position: absolute;
    top: 550px;
    width: 319px;
}

.box .group-10 {
  height: 32px;
  left: 571px;
  position: absolute;
  top: 650px;
  width: 319px;
}

.box .group-11 {
  height: 32px;
  left: 492px;
  position: absolute;
  top: 750px;
  width: 319px;
}
  
.box img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
  
@media (max-width: 768px) {
    .box .overlap-group-wrapper {
        width: 100%;
    }
    
    .box .text-wrapper {
        font-size: 1.5rem;
    }
    
    .box .p {
        font-size: 12px;
        line-height: 1.5;
    }
    
    .box .img {
        top: 5vw;
    }
    
    .box .vector {
        width: 100%;
        left: 0;
    }
    
    .box .image-traced {
        width: 6vw;
    }
}
  