.frame {
    height: 1089px;
    width: 921px;
  }
  
  .frame .overlap-group {
    height: 922px;
    position: relative;
    top: 167px;
    width: 870px;
  }
  
  .frame .rectangle {
    height: 99px;
    left: 541px;
    position: absolute;
    top: 671px;
    width: 176px;
  }
  
  .frame .img {
    height: 29px;
    left: 659px;
    position: absolute;
    top: 743px;
    width: 34px;
  }
  
  .frame .rectangle-2 {
    height: 59px;
    left: 591px;
    position: absolute;
    top: 713px;
    width: 68px;
  }
  
  .frame .rectangle-3 {
    height: 109px;
    left: 505px;
    position: absolute;
    top: 662px;
    width: 214px;
  }
  
  .frame .rectangle-4 {
    height: 113px;
    left: 507px;
    position: absolute;
    top: 657px;
    width: 211px;
  }
  
  .frame .rectangle-5 {
    height: 67px;
    left: 524px;
    position: absolute;
    top: 771px;
    width: 134px;
  }
  
  .frame .rectangle-6 {
    height: 45px;
    left: 331px;
    position: absolute;
    top: 725px;
    width: 161px;
  }
  
  .frame .rectangle-7 {
    height: 162px;
    left: 327px;
    position: absolute;
    top: 759px;
    width: 113px;
  }
  
  .frame .rectangle-8 {
    height: 536px;
    left: 129px;
    position: absolute;
    top: 226px;
    width: 401px;
  }
  
  .frame .rectangle-9 {
    height: 286px;
    left: 148px;
    position: absolute;
    top: 583px;
    width: 496px;
  }
  
  .frame .rectangle-10 {
    height: 140px;
    left: 202px;
    position: absolute;
    top: 721px;
    width: 325px;
  }
  
  .frame .rectangle-11 {
    height: 378px;
    left: 229px;
    position: absolute;
    top: 343px;
    width: 253px;
  }
  
  .frame .rectangle-12 {
    height: 545px;
    left: 128px;
    position: absolute;
    top: 220px;
    width: 416px;
  }
  
  .frame .rectangle-13 {
    height: 120px;
    left: 167px;
    position: absolute;
    top: 659px;
    width: 118px;
  }
  
  .frame .rectangle-14 {
    height: 306px;
    left: 107px;
    position: absolute;
    top: 465px;
    width: 295px;
  }
  
  .frame .rectangle-15 {
    height: 106px;
    left: 0;
    position: absolute;
    top: 548px;
    width: 106px;
  }
  
  .frame .rectangle-16 {
    height: 299px;
    left: 85px;
    position: absolute;
    top: 444px;
    width: 86px;
  }
  
  .frame .rectangle-17 {
    height: 257px;
    left: 576px;
    position: absolute;
    top: 463px;
    width: 82px;
  }
  
  .frame .rectangle-18 {
    height: 318px;
    left: 660px;
    position: absolute;
    top: 323px;
    width: 210px;
  }
  
  .frame .rectangle-19 {
    height: 322px;
    left: 127px;
    position: absolute;
    top: 319px;
    width: 123px;
  }
  
  .frame .rectangle-20 {
    height: 60px;
    left: 555px;
    position: absolute;
    top: 578px;
    width: 160px;
  }
  
  .frame .rectangle-21 {
    height: 187px;
    left: 239px;
    position: absolute;
    top: 369px;
    width: 114px;
  }
  
  .frame .rectangle-22 {
    height: 367px;
    left: 504px;
    position: absolute;
    top: 143px;
    width: 87px;
  }
  
  .frame .rectangle-23 {
    height: 379px;
    left: 217px;
    position: absolute;
    top: 0;
    width: 166px;
  }
  
  .frame .rectangle-24 {
    height: 53px;
    left: 439px;
    position: absolute;
    top: 700px;
    width: 46px;
  }
  
  .frame .rectangle-25 {
    height: 281px;
    left: 320px;
    position: absolute;
    top: 89px;
    width: 105px;
  }
  
  .frame .rectangle-26 {
    height: 252px;
    left: 397px;
    position: absolute;
    top: 50px;
    width: 101px;
  }
  