/* .homepage {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: stretch;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  zoom: 0.5;
}

.header {
  background-color: #000;
  color: #fff;
  display: flex;
  width: 100%;
  padding: 38px 80px;
  flex-direction: column;
  font-family:
    Clash Grotesk,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 12px;
  color: #a6a6a6;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.24px;
  line-height: 25px;
}

.logo {
  aspect-ratio: 1.06;
  object-fit: contain;
  object-position: center;
  width: 37px;
  align-self: flex-end;
}

.heroText {
  width: 100%;
  max-width: 350px;
  font-family:
    Clash Grotesk,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 12px;
  color: rgba(166, 166, 166, 1);
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.24px;
  line-height: 25px;
  padding-top: -8px;
}

.conceptSection {
  background-color: #000;
  width: 100%;
  position: relative;
}

.conceptImage {
  aspect-ratio: 0.89;
  object-fit: contain;
  object-position: center;
  width: 100%;
  background-blend-mode: difference;
}

.conceptContent {
  align-self: flex-end;
  z-index: 10;
  margin-top: -155px;
  width: 100%;
  max-width: 1179px;
}

.conceptLayout {
  gap: 20px;
  display: flex;
  padding: 0 20px;
}

.conceptArticle {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  align-self: stretch;
  align-items: stretch;
  width: 27%;
}

.conceptTitle {
  color: #000;
  font-size: 24px;
  font-family:
    Nippo,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 378;
  line-height: 49px;
  align-self: flex-start;
}

.conceptDescription {
  background-blend-mode: difference;
  color: #fff;
  font-size: 14px;
  font-family:
    Clash Grotesk,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 400;
  line-height: 29px;
}

.conceptVisual {
  width: 73%;
  margin-left: 20px;
}

.visualContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 1089px;
  width: 100%;
  padding: 167px 80px 297px 11px;
  overflow: hidden;
}

.visualImage {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.dotsContainer {
  position: relative;
  display: flex;
  width: 688px;
  max-width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.dotsGroup {
  display: flex;
  margin-left: 61px;
  width: 360px;
  max-width: 100%;
  flex-direction: column;
}

.dot {
  background-color: #000;
  border-radius: 50%;
  display: flex;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  margin: 10px 0;
}

.soundSection {
  background-color: #000;
  margin-top: 196px;
  width: 100%;
  padding-right: 80px;
}

.soundLayout {
  gap: 20px;
  display: flex;
}

.soundVisual {
  width: 76%;
}

.visualWrapper {
  display: flex;
  flex-direction: column;
  background-blend-mode: difference;
  position: relative;
  min-height: 1304px;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  padding: 329px 72px 146px;
  align-self: stretch;
  overflow: hidden;
}

.soundImage {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.soundContent {
  width: 24%;
  margin-left: 20px;
}

.soundText {
  margin-top: 341px;
  font-family:
    Clash Grotesk,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: 29px;
}

.whiteDot {
  background-blend-mode: difference;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  margin: 10px 0;
}

.soundDescription {
  background-blend-mode: difference;
  margin-top: 83px;
}

.creditsSection {
  display: flex;
  margin-top: 46px;
  width: 100%;
  padding: 0 10px 0 64px;
  flex-direction: column;
  align-items: stretch;
  background-color: #000;
}

.creditsLayout {
  max-width: 100%;
}

.creditsColumns {
  gap: 20px;
  display: flex;
}

.creditsArticle {
  width: 25%;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  align-self: stretch;
  align-items: stretch;
}

.soundConceptTitle {
  color: #fff;
  font-size: 24px;
  font-family:
    Nippo,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 378;
  line-height: 49px;
  text-align: center;
  align-self: flex-start;
}

.creditsDescription {
  background-blend-mode: difference;
  color: #fff;
  font-size: 14px;
  font-family:
    Clash Grotesk,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 400;
  line-height: 29px;
  margin-top: 7px;
}

.creditsVisual {
  width: 75%;
  margin-left: 20px;
}

.creditsImageContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 1156px;
  width: 100%;
  padding: 309px 0;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
}

.creditsImage {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.creditsTitle {
  color: #fff;
  font-size: 24px;
  font-family:
    Nippo,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 378;
  line-height: 49px;
  text-align: center;
  align-self: flex-start;
  margin-top: 199px;
}

@media (max-width: 991px) {
  .homepage {
    padding-bottom: 100px;
  }

  .header {
    max-width: 100%;
    padding: 38px 20px;
  }

  .heroText {
    margin-top: 40px;
  }

  .conceptImage {
    max-width: 100%;
  }

  .conceptContent {
    max-width: 100%;
  }

  .conceptLayout {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .conceptArticle {
    width: 100%;
    margin-top: 40px;
  }

  .conceptVisual {
    width: 100%;
  }

  .visualContainer {
    max-width: 100%;
    padding: 100px 20px;
  }

  .dotsGroup {
    margin-left: 10px;
  }

  .soundSection {
    max-width: 100%;
    padding-right: 20px;
    margin-top: 40px;
  }

  .soundLayout {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .soundVisual {
    width: 100%;
  }

  .visualWrapper {
    max-width: 100%;
    margin-top: -117px;
    padding: 100px 20px;
  }

  .soundContent {
    width: 100%;
  }

  .soundText {
    margin-top: 40px;
  }

  .soundDescription {
    margin-top: 40px;
  }

  .creditsSection {
    max-width: 100%;
    padding-left: 20px;
    margin-top: 40px;
  }

  .creditsColumns {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .creditsArticle {
    width: 100%;
    margin-top: 40px;
  }

  .creditsVisual {
    width: 100%;
  }

  .creditsImageContainer {
    max-width: 100%;
    padding: 100px 20px;
  }

  .creditsTitle {
    margin-top: 40px;
  }
} */

.homepage .text-wrapper { color: #ffffff; font-family: "Clash Grotesk-Regular", Helvetica; font-size: 14px; font-weight: 400; left: 892px; letter-spacing: 0; line-height: 28.7px; mix-blend-mode: difference; position: absolute; top: 555px; width: 288px; } .homepage .p { color: #ffffff; font-family: "Clash Grotesk-Regular", Helvetica; font-size: 14px; font-weight: 400; left: 70px; letter-spacing: 0; line-height: 28.7px; mix-blend-mode: difference; position: absolute; top: 1724px; width: 288px; } .homepage .text-wrapper-2 { color: #000000; font-family: "Nippo-Regular", Helvetica; font-size: 24px; font-weight: 400; left: 64px; letter-spacing: 0; line-height: 49.2px; position: absolute; text-align: center; top: 1668px; white-space: nowrap; } .homepage .overlap-3 { height: 1439px; left: -13px; position: absolute; top: 0; width: 1305px; } .homepage .rectangle-4 { height: 1395px; left: 13px; position: absolute; top: 0; width: 1280px; } .homepage .property-1-default { left: 0 !important; position: absolute !important; top: 109px !important; } .homepage .property-default-instance { left: -1265px !important; top: -325px !important; } .homepage .property-1-default-instance { left: -916px !important; top: -442px !important; } .homepage .frame-3 { height: 804px; left: 1214px; mix-blend-mode: difference; position: absolute; top: 0; width: 30px; } .homepage .vector { height: 1439px; left: 13px; mix-blend-mode: difference; position: absolute; top: 0; width: 695px; } .homepage .phytoremediation { color: #101010; font-family: "Clash Grotesk-Light", Helvetica; font-size: 16px; font-weight: 300; left: 733px; letter-spacing: 0.48px; line-height: 32.8px; position: absolute; text-align: center; top: 514px; width: 484px; } .homepage .overlap-4 { height: 1089px; left: 101px; position: absolute; top: 1471px; width: 1179px; } .homepage .overlap-5 { height: 1089px; left: 0; position: absolute; top: 0; width: 1179px; } .homepage .frame-4 { height: 1089px; left: 270px; position: absolute; top: 0; width: 909px; } .homepage .text-wrapper-3 { color: #ffffff; font-family: "Clash Grotesk-Regular", Helvetica; font-size: 14px; font-weight: 400; left: 0; letter-spacing: 0; line-height: 28.7px; mix-blend-mode: difference; position: absolute; top: 438px; width: 360px; } .homepage .text-wrapper-4 { color: #000000; font-family: "Nippo-Regular", Helvetica; font-size: 24px; font-weight: 400; left: 0; letter-spacing: 0; line-height: 49.2px; position: absolute; top: 389px; width: 261px; } .homepage .overlap-6 { height: 268px; left: 69px; position: absolute; top: 5212px; width: 80px; } .homepage .text-wrapper-5 { color: #000000; font-family: "Nippo-Regular", Helvetica; font-size: 24px; font-weight: 400; left: 1px; letter-spacing: 0; line-height: 49.2px; position: absolute; text-align: center; top: 0; white-space: nowrap; } .homepage .vector-2 { height: 219px; left: 0; position: absolute; top: 48px; width: 7px; } .homepage .group { height: 35px !important; left: 51px !important; mix-blend-mode: difference !important; position: fixed !important; top: 38px !important; width: 1187px !important; }